/* @font-face {
  font-family: "Future PT";
  src: url("../fonts/FuturaPT-Bold.woff2") format("woff2"),
    url("../fonts/FuturaPT-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Future PT";
  src: url("../fonts/FuturaPT-Book.woff2") format("woff2"),
    url("../fonts/FuturaPT-Book.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Future PT";
  src: url("../fonts/FuturaPT-Medium.woff2") format("woff2"),
    url("../fonts/FuturaPT-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Future PT";
  src: url("../fonts/FuturaPT-Light.woff2") format("woff2"),
    url("../fonts/FuturaPT-Light.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} */

html {
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f2f2f2;
  font-family: "Barlow", sans-serif;
}
main {
  flex-grow: 1;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: cover;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}
.site-header {
  padding: 45px 0;
}

.site-header__inner {
  display: flex;
  align-items: center;
}

.navbar {
  margin-left: auto;
}

.navbar__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navbar__item + .navbar__item {
  margin-left: 30px;
}

.navbar__link {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
  text-decoration: none;
}
.navbar__link:hover {
  color: #333d4b;
}

.site-header__menu {
  display: none;
  width: 16px;
  height: 16px;
  background-image: url("../images/menu.svg");
  background-repeat: no-repeat;
  background-position: top right;
  border: none;
  background-color: transparent;
  margin-left: auto;
}



.hero {
  padding-bottom: 136px;
}

.hero__inner {
  padding: 117px 116px;
  background-image: url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  border-radius: 10px;
  background-size: 100%;
}

.hero__content {
  width: 100%;
  max-width: 493px;
}

.hero__title {
  margin: 0;
  margin-bottom: 32px;
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
}

.hero__text {
  font-family: "Barlow";
  margin: 0;
  margin-bottom: 56px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  opacity: 0.8;
}

.hero__link {
  font-family: "Fraunces" sans-serif;
  display: inline-block;
  padding: 16px 31px;
  background: #0e8784;
  text-decoration: none;
  border-radius: 6px;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #fefcf7;
}
.hero__link:hover {
  background: #66d2cf;
}



.collection {
  padding-bottom: 144px;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 1111px 196px;
  background-color: #f2f2f2;
}
.collection__inner {
  width: 100%;
  max-width: 1111px;
  min-height: 525px;
  margin: 0 auto;
}

.collection__list {
  margin: 0;
  padding: 0;
  padding-top: 126px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.collection__item {
  width: 100%;
  max-width: 255px;
  text-align: center;
}
.collection__title {
  margin: 0;
  margin: 71px 0 24px;
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333d4b;
}

.collection__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333d4b;
}



.reason {
  padding-bottom: 382px;
}

.reason__content {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
}

.reason__inner {
  position: relative;
  padding: 112px 85px 0 85px;
  background-color: #333d4b;
  border-radius: 10px;
  text-align: center;
}

.reason__title {
  margin: 0;
  margin-bottom: 32px;
  font-family: "Fraunces", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #fefcf7;
}

.reason__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.reason__desc {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.reason__list {
  margin: 0;
  position: relative;
  top: 130px;
  padding: 0;
  width: 100%;
  max-width: 1110px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reason__item {
  padding: 72px 48px 48px;
  width: 100%;
  max-width: 350px;
  background: #0e8784;
  text-align: center;
  border-radius: 8px;
}

.reason-box__title {
  margin: 0;
  margin-bottom: 24px;
  font-family: "Fraunces", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #fefcf7;
}

.reason-box__text::before {
  margin: 0 auto;
  margin-bottom: 56px;
  content: "";
  display: block;
  width: 72px;
  height: 72px;
  background-image: url("../images/coffee-bean.svg");
  background-repeat: no-repeat;
}

.box-2::before {
  content: "";
  background-image: url("../images/gift.svg");
}

.box-3::before {
  content: "";
  background-image: url("../images/truck.svg");
}

.reason-box__desc {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}


.work {
  padding-bottom: 320px;
}

.work__title {
  margin: 0;
  margin-bottom: 80px;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
}

.line {
  width: 100%;
  max-width: 729px;
  position: relative;
  margin-bottom: 76px;
  border: 2px solid #fdd6ba;
  background-color: #f2f2f2;
}

.line__spot {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -15px;
  border: 2px solid #0e8784;
  border-radius: 50%;
  background: #fefcf7;
}


.spot-2 {
  margin-left: 349px;
}

.spot-3 {
  margin-left: 729px;
}

.work__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.work__item {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 285px;
}
.work__item::before {
  display: inline-block;
  content: "";
  width: 90px;
  height: 72px;
  background-image: url("../images/01.svg");
  background-repeat: no-repeat;
  background-size: 90px 72px;
  margin-bottom: 32px;
}

.second::before {
  background-image: url("../images/02.svg");
}

.third::before {
  background-image: url("../images/03.svg");
}

.work__heading {
  margin: 0;
  margin-bottom: 42px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333d4b;
}

.work__text {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
}

.site-footer {
  background: #2c343e;
}

.site-footer__inner {
  display: flex;
  align-items: center;
  padding: 47px 85px;
}

.social-links {
  margin-left: auto;
}

.icon {
  margin-right: 24px;
}

.about-hero {
  padding-bottom: 168px;
}
.about-hero__inner {
  padding: 137px;
  background-image: url("../images/about-hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 10px;
}
.about-hero__content {
  width: 100%;
  max-width: 445px;
}
.about-her__title {
  margin: 0;
  margin-bottom: 24px;
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #fefcf7;
}
.about-hero__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  opacity: 0.8;
}

.commit {
  padding-bottom: 244px;
}
.commit__inner {
  width: 100%;
  max-width: 1110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 65px;
}

.commit__content {
  width: 100%;
  max-width: 540px;
}

.commit__title {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #333d4b;
}
.commit__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.quality {
  padding-bottom: 168px;
}

.quality__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 167px 88px;
  background: #2c343e;
  border-radius: 10px;
}
.quality__content {
  width: 100%;
  max-width: 540px;
}
.quality__title {
  margin: 0;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #fefcf7;
  margin-bottom: 32px;
}

.quality__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.quality__pic {
  top: -80px;
  right: 85px;
  width: 445px;
  height: 550px;
  position: absolute;
  border-radius: 10px;
}

.location {
  padding-bottom: 168px;
}

.location__inner {
  width: 100%;
  max-width: 1045px;
  margin: 0 150px 0 85px;
}
.location__title {
  margin-bottom: 72px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
}
.location__list {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.location__item {
  padding: 0;
}

.uk::before {
  display: inline-block;
  content: "";
  width: 50px;
  height: 50px;
  background-image: url("../images/uk.svg");
  background-repeat: no-repeat;
  background-size: 50px;
  margin-bottom: 46px;
}

.canada::before {
  display: inline-block;
  content: "";
  width: 50px;
  height: 50px;
  background-image: url("../images/canada.svg");
  background-repeat: no-repeat;
  background-size: 50px;
  margin-bottom: 46px;
}

.australia::before {
  display: inline-block;
  content: "";
  width: 50px;
  height: 50px;
  background-image: url("../images/australia.svg");
  background-repeat: no-repeat;
  background-size: 50px;
  margin-bottom: 46px;
}

.location__heading {
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333d4b;
}
.location__sublist {
  list-style: none;
  padding: 0;
  margin: 0;
}
.location__subitem {
  margin: 0;
}

.location__subitem * {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
  text-decoration: none;
}
