.about-hero {
  padding-bottom: 168px;
}
.about-hero__inner {
  padding: 137px;
  background-image: url("../images/about-hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 10px;
}
.about-hero__content {
  width: 100%;
  max-width: 445px;
}
.about-her__title {
  margin: 0;
  margin-bottom: 24px;
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #fefcf7;
}
.about-hero__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  opacity: 0.8;
}