
.site-footer {
  background: #2c343e;
}

.site-footer__inner {
  display: flex;
  align-items: center;
  padding: 47px 85px;
}

.social-links {
  margin-left: auto;
}

.icon {
  margin-right: 24px;
}