.site-header {
  padding: 45px 0;
}

.site-header__inner {
  display: flex;
  align-items: center;
}

.navbar {
  margin-left: auto;
}

.navbar__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navbar__item + .navbar__item {
  margin-left: 30px;
}

.navbar__link {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
  text-decoration: none;
  &:hover{
    color: #333d4b;
  }
}

.site-header__menu {
  display: none;
  width: 16px;
  height: 16px;
  background-image: url("../images/menu.svg");
  background-repeat: no-repeat;
  background-position: top right;
  border: none;
  background-color: transparent;
  margin-left: auto;
}